In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/sales_subset.csv")

In [3]:
df.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [4]:
df.info()
df['weekly_sales'].mean()
df['weekly_sales'].median()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB

12049.064999999999

In [5]:
df['date'].max()
df['date'].min()

'2010-02-05'

In [6]:
#Using the function below, calculate the IQR when your data contains outliers
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

print(df[['temperature_c','fuel_price_usd_per_l', 'unemployment']].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [7]:
print(df[['temperature_c','fuel_price_usd_per_l','unemployment']].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

In [12]:
#Cumulative statistics
df = df.sort_values('date')
#print(df)
df['cum_weekly_sales'] = df['weekly_sales'].cumsum()
#print(df)
df['cum_max_sales'] = df['weekly_sales'].cummax()
#print(df)
print(df[['date','weekly_sales','cum_weekly_sales','cum_max_sales']])

             date  weekly_sales  cum_weekly_sales  cum_max_sales
0      2010-02-05      24924.50      2.492450e+04       24924.50
6437   2010-02-05      38597.52      6.352202e+04       38597.52
1249   2010-02-05       3840.21      6.736223e+04       38597.52
6449   2010-02-05      17590.59      8.495282e+04       38597.52
6461   2010-02-05       4929.87      8.988269e+04       38597.52
...           ...           ...               ...            ...
3592   2012-10-05        440.00      2.568932e+08      293966.05
8108   2012-10-05        660.00      2.568938e+08      293966.05
10773  2012-10-05        915.00      2.568947e+08      293966.05
6257   2012-10-12          3.00      2.568947e+08      293966.05
3384   2012-10-26        -21.63      2.568947e+08      293966.05

[10774 rows x 4 columns]

In [14]:
#Summarize Categorical data
df.drop_duplicates(subset='date')

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,cum_weekly_sales,cum_max_sales
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,2.492450e+04,24924.50
2315,2315,4,A,47,2010-02-12,498.00,True,-1.755556,0.679715,8.623,2.283587e+07,293966.05
7188,7188,19,A,99,2010-02-19,0.01,False,-1.905556,0.768477,8.350,2.283601e+07,293966.05
3385,3385,6,A,78,2010-02-26,0.00,False,8.388889,0.676545,7.259,2.283603e+07,293966.05
9912,9912,39,A,2,2010-03-05,56766.01,False,10.516667,0.693452,8.554,2.289281e+07,293966.05
...,...,...,...,...,...,...,...,...,...,...,...,...
3223,3223,6,A,47,2012-09-21,389.00,False,21.561111,0.982985,5.668,2.568871e+08,293966.05
525,525,1,A,47,2012-09-28,224.00,False,24.488889,0.968455,6.908,2.568873e+08,293966.05
8073,8073,20,A,96,2012-10-05,18.89,False,15.983333,1.052726,7.293,2.568874e+08,293966.05
6257,6257,14,A,96,2012-10-12,3.00,False,12.483333,1.056689,8.667,2.568947e+08,293966.05
3384,3384,6,A,77,2012-10-26,-21.63,False,22.411111,0.926188,5.329,2.568947e+08,293966.05