In [1]:
import pandas as pd
import numpy as np

In [2]:
temperatures = pd.read_csv("../data/temperatures.csv")

In [5]:
temperatures.head()
temperatures.info()
temperatures.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16500 entries, 0 to 16499
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16500 non-null  int64
 1   date        16500 non-null  object
 2   city        16500 non-null  object
 3   country     16500 non-null  object
 4   avg_temp_c  16407 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 644.7+ KB

Unnamed: 0  date        city     country        avg_temp_c
0           2000-01-01  Abidjan  CÃ´te D'Ivoire  27.293        1
10829       2008-09-01  Moscow   Russia         10.741        1
10992       2008-07-01  Nagoya   Japan          27.089        1
10993       2008-08-01  Nagoya   Japan          26.974        1
10994       2008-09-01  Nagoya   Japan          23.220        1
                                                             ..
5506        2005-02-01  Harare   Zimbabwe       23.297        1
5507        2005-03-01  Harare   Zimbabwe       22.802        1
5508        2005-04-01  Harare   Zimbabwe       21.280        1
5509        2005-05-01  Harare   Zimbabwe       19.356        1
16498       2013-08-01  Xian     China          24.528        1
Length: 16407, dtype: int64