In [1]:
import pandas as pd
import numpy as np

In [2]:
temperatures = pd.read_csv("../data/temperatures.csv")

In [3]:
temperatures.head()
temperatures.info()
temperatures.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16500 entries, 0 to 16499
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16500 non-null  int64
 1   date        16500 non-null  object
 2   city        16500 non-null  object
 3   country     16500 non-null  object
 4   avg_temp_c  16407 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 644.7+ KB

Unnamed: 0  date        city     country        avg_temp_c
0           2000-01-01  Abidjan  Côte D'Ivoire  27.293        1
10829       2008-09-01  Moscow   Russia         10.741        1
10992       2008-07-01  Nagoya   Japan          27.089        1
10993       2008-08-01  Nagoya   Japan          26.974        1
10994       2008-09-01  Nagoya   Japan          23.220        1
                                                             ..
5506        2005-02-01  Harare   Zimbabwe       23.297        1
5507        2005-03-01  Harare   Zimbabwe       22.802        1
5508        2005-04-01  Harare   Zimbabwe       21.280        1
5509        2005-05-01  Harare   Zimbabwe       19.356        1
16498       2013-08-01  Xian     China          24.528        1
Length: 16407, dtype: int64

In [5]:
temp_ind=temperatures.set_index('city')#Move a column from the body of an dataframe to be the index
print(temp_ind)
temp_ind.reset_index(drop=True)

         Unnamed: 0        date        country  avg_temp_c
city
Abidjan           0  2000-01-01  Côte D'Ivoire      27.293
Abidjan           1  2000-02-01  Côte D'Ivoire      27.685
Abidjan           2  2000-03-01  Côte D'Ivoire      29.061
Abidjan           3  2000-04-01  Côte D'Ivoire      28.162
Abidjan           4  2000-05-01  Côte D'Ivoire      27.547
...             ...         ...            ...         ...
Xian          16495  2013-05-01          China      18.979
Xian          16496  2013-06-01          China      23.522
Xian          16497  2013-07-01          China      25.251
Xian          16498  2013-08-01          China      24.528
Xian          16499  2013-09-01          China         NaN

[16500 rows x 4 columns]

       Unnamed: 0        date        country  avg_temp_c
0               0  2000-01-01  Côte D'Ivoire      27.293
1               1  2000-02-01  Côte D'Ivoire      27.685
2               2  2000-03-01  Côte D'Ivoire      29.061
3               3  2000-04-01  Côte D'Ivoire      28.162
4               4  2000-05-01  Côte D'Ivoire      27.547
...           ...         ...            ...         ...
16495       16495  2013-05-01          China      18.979
16496       16496  2013-06-01          China      23.522
16497       16497  2013-07-01          China      25.251
16498       16498  2013-08-01          China      24.528
16499       16499  2013-09-01          China         NaN

[16500 rows x 4 columns]

In [6]:
temp_ind=temperatures.set_index('country')#move a column from the body of a dataframe to be the index
print(temp_ind)
temp_ind.reset_index(drop=True)

               Unnamed: 0        date     city  avg_temp_c
country
Côte D'Ivoire           0  2000-01-01  Abidjan      27.293
Côte D'Ivoire           1  2000-02-01  Abidjan      27.685
Côte D'Ivoire           2  2000-03-01  Abidjan      29.061
Côte D'Ivoire           3  2000-04-01  Abidjan      28.162
Côte D'Ivoire           4  2000-05-01  Abidjan      27.547
...                   ...         ...      ...         ...
China               16495  2013-05-01     Xian      18.979
China               16496  2013-06-01     Xian      23.522
China               16497  2013-07-01     Xian      25.251
China               16498  2013-08-01     Xian      24.528
China               16499  2013-09-01     Xian         NaN

[16500 rows x 4 columns]

       Unnamed: 0        date     city  avg_temp_c
0               0  2000-01-01  Abidjan      27.293
1               1  2000-02-01  Abidjan      27.685
2               2  2000-03-01  Abidjan      29.061
3               3  2000-04-01  Abidjan      28.162
4               4  2000-05-01  Abidjan      27.547
...           ...         ...      ...         ...
16495       16495  2013-05-01     Xian      18.979
16496       16496  2013-06-01     Xian      23.522
16497       16497  2013-07-01     Xian      25.251
16498       16498  2013-08-01     Xian      24.528
16499       16499  2013-09-01     Xian         NaN

[16500 rows x 4 columns]

In [9]:
#indexes make subsetting code cleaner
temperatures[temperatures['city'].isin(['Xian','Mexico'])]
temp_ind.loc[['Xian','Mexico']]#loc filters index values

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['Xian'], dtype='object', name='country'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [7]:
temperatures[temperatures['country'].isin(['China','Mexico'])]
temp_ind.loc[['China','Mexico']]

         Unnamed: 0        date       city  avg_temp_c
country
China          3135  2000-01-01  Changchun     -18.759
China          3136  2000-02-01  Changchun     -13.105
China          3137  2000-03-01  Changchun      -1.089
China          3138  2000-04-01  Changchun       7.297
China          3139  2000-05-01  Changchun      16.970
...             ...         ...        ...         ...
Mexico        10390  2013-05-01     Mexico      19.155
Mexico        10391  2013-06-01     Mexico      18.924
Mexico        10392  2013-07-01     Mexico      18.091
Mexico        10393  2013-08-01     Mexico      17.882
Mexico        10394  2013-09-01     Mexico      18.313

[2805 rows x 4 columns]

In [13]:
#indexing Part2 from Datacamp
cities =['Moscow', 'Saint Petersburg']
print(temperatures[temperatures['city'].isin(cities)])
print(temp_ind.loc[cities])

       Unnamed: 0        date              city country  avg_temp_c
10725       10725  2000-01-01            Moscow  Russia      -7.313
10726       10726  2000-02-01            Moscow  Russia      -3.551
10727       10727  2000-03-01            Moscow  Russia      -1.661
10728       10728  2000-04-01            Moscow  Russia      10.096
10729       10729  2000-05-01            Moscow  Russia      10.357
...           ...         ...               ...     ...         ...
13360       13360  2013-05-01  Saint Petersburg  Russia      12.355
13361       13361  2013-06-01  Saint Petersburg  Russia      17.185
13362       13362  2013-07-01  Saint Petersburg  Russia      17.234
13363       13363  2013-08-01  Saint Petersburg  Russia      17.153
13364       13364  2013-09-01  Saint Petersburg  Russia         NaN

[330 rows x 5 columns]

KeyError: "None of [Index(['Moscow', 'Saint Petersburg'], dtype='object', name='country')] are in the [index]"

In [12]:
cities2 =['Mexico','Mexico']
print(temperatures[temperatures['city'].isin(cities2)])
print(temp_ind.loc[cities2])

       Unnamed: 0        date    city country  avg_temp_c
10230       10230  2000-01-01  Mexico  Mexico      12.694
10231       10231  2000-02-01  Mexico  Mexico      14.677
10232       10232  2000-03-01  Mexico  Mexico      17.376
10233       10233  2000-04-01  Mexico  Mexico      18.294
10234       10234  2000-05-01  Mexico  Mexico      18.562
...           ...         ...     ...     ...         ...
10390       10390  2013-05-01  Mexico  Mexico      19.155
10391       10391  2013-06-01  Mexico  Mexico      18.924
10392       10392  2013-07-01  Mexico  Mexico      18.091
10393       10393  2013-08-01  Mexico  Mexico      17.882
10394       10394  2013-09-01  Mexico  Mexico      18.313

[165 rows x 5 columns]
         Unnamed: 0        date    city  avg_temp_c
country
Mexico        10230  2000-01-01  Mexico      12.694
Mexico        10231  2000-02-01  Mexico      14.677
Mexico        10232  2000-03-01  Mexico      17.376
Mexico        10233  2000-04-01  Mexico      18.294
Mexico        10234  2000-05-01  Mexico      18.562
...             ...         ...     ...         ...
Mexico        10390  2013-05-01  Mexico      19.155
Mexico        10391  2013-06-01  Mexico      18.924
Mexico        10392  2013-07-01  Mexico      18.091
Mexico        10393  2013-08-01  Mexico      17.882
Mexico        10394  2013-09-01  Mexico      18.313

[330 rows x 4 columns]

In [ ]:
#Hierarchical indexes
temps_ind3=temperatures.set_index(['city','country'])
temps_ind3.loc[['Xian','Mexico']]#subset
#subset on inner levels;pass a list of tuples
temps_ind3.loc[[('Xian','China'),('Mexico','Mexico')]]#has to match all of the conditions from the loc

In [ ]:
#Subsetting and using tuples
temperatures_ind = temperatures.set_index(['country','city'])
rows_to_keep = [('Brazil','Rio De Janeiro'),('Pakistan','Lahore')]
print(temperatures_ind.loc[rows_to_keep])

In [ ]:
temps_ind3.sort_index(level=['city','country'], ascending=[True,False])

print(temp_ind.sort_index())
print(temp_ind.sort_index(level='city'))
print(temp_ind.sort_index(level=['country','city'], ascending=[True, False]))
#Using the level feature allows for specific column sorting

## Slicing and subsetting with .loc and .iloc

In [ ]:
temperatures[2:5]#python starts from zero;last digit is not used or accounted for

In [ ]:
temps_srt = temperatures.set_index(['country','city']).sort_index()
print(temps_srt)

In [ ]:
#Slicing the outer index level(rows)
temps_srt.loc['China':'Mexico']#final value is included

In [ ]:
temps_srt.loc[('China','Xian'):('Mexico','Mexico')]#Slicing the inner index levels correctly(rows)

In [ ]:
#Slicing Columns with the appropriate format
temps_srt.loc[:,'date':'avg_temp_c']

In [ ]:
temps_srt.loc[('Mexico','Mexico'):('Zimbabwe','Harare'), 'date':'avg_temp_c']
#Slicing both rows and columns with the precises calls

In [ ]:
#Using slicing to subset dataframes
date_temps = temperatures.set_index('date').sort_index()
print(date_temps)

In [ ]:
#slicing by date
date_temps.loc['2000-01-01':'2003-01-01']

In [ ]:
#slicing by date-year
date_temps.loc['2000':'2003']

In [ ]:
#slicing in both directions:
temps_srt.loc[('India','Hyderabad'):('Iraq','Baghdad'), 'date':'avg_temp_c']
#Slicing both rows and columns with the precises calls

In [ ]:
#Slicing time series
temperatures_bool = temperatures[(temperatures['date'] >= '2010-01-01') & (temperatures['date'] <= '2011-12-31')]
print(temperatures_bool)
#set date as teh index and sort the index
temperatures_ind = temperatures.set_index('date').sort_index()
#Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc['2010':'2011'])

#Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc['2010-08':'2011-02'])

In [ ]:
#Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[22,1])
print(temperatures.iloc[:5]) #slicing to get the first 5 rows
print(temperatures.iloc[:,2:4])#slicing to get columns 3 to 4
print(temperatures.iloc[:5,2:4])#slicing first 5 rows, columns 3 and 4