In [1]:
import pandas as pd
import numpy as np

In [2]:
temperatures = pd.read_csv("../data/temperatures.csv")

In [3]:
temperatures.head()
temperatures.info()
temperatures.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16500 entries, 0 to 16499
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16500 non-null  int64
 1   date        16500 non-null  object
 2   city        16500 non-null  object
 3   country     16500 non-null  object
 4   avg_temp_c  16407 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 644.7+ KB

Unnamed: 0  date        city     country        avg_temp_c
0           2000-01-01  Abidjan  Côte D'Ivoire  27.293        1
10829       2008-09-01  Moscow   Russia         10.741        1
10992       2008-07-01  Nagoya   Japan          27.089        1
10993       2008-08-01  Nagoya   Japan          26.974        1
10994       2008-09-01  Nagoya   Japan          23.220        1
                                                             ..
5506        2005-02-01  Harare   Zimbabwe       23.297        1
5507        2005-03-01  Harare   Zimbabwe       22.802        1
5508        2005-04-01  Harare   Zimbabwe       21.280        1
5509        2005-05-01  Harare   Zimbabwe       19.356        1
16498       2013-08-01  Xian     China          24.528        1
Length: 16407, dtype: int64

In [4]:
temp_ind=temperatures.set_index('city')#Move a column from the body of an dataframe to be the index
print(temp_ind)
temp_ind.reset_index(drop=True)

         Unnamed: 0        date        country  avg_temp_c
city
Abidjan           0  2000-01-01  Côte D'Ivoire      27.293
Abidjan           1  2000-02-01  Côte D'Ivoire      27.685
Abidjan           2  2000-03-01  Côte D'Ivoire      29.061
Abidjan           3  2000-04-01  Côte D'Ivoire      28.162
Abidjan           4  2000-05-01  Côte D'Ivoire      27.547
...             ...         ...            ...         ...
Xian          16495  2013-05-01          China      18.979
Xian          16496  2013-06-01          China      23.522
Xian          16497  2013-07-01          China      25.251
Xian          16498  2013-08-01          China      24.528
Xian          16499  2013-09-01          China         NaN

[16500 rows x 4 columns]

       Unnamed: 0        date        country  avg_temp_c
0               0  2000-01-01  Côte D'Ivoire      27.293
1               1  2000-02-01  Côte D'Ivoire      27.685
2               2  2000-03-01  Côte D'Ivoire      29.061
3               3  2000-04-01  Côte D'Ivoire      28.162
4               4  2000-05-01  Côte D'Ivoire      27.547
...           ...         ...            ...         ...
16495       16495  2013-05-01          China      18.979
16496       16496  2013-06-01          China      23.522
16497       16497  2013-07-01          China      25.251
16498       16498  2013-08-01          China      24.528
16499       16499  2013-09-01          China         NaN

[16500 rows x 4 columns]

In [5]:
#indexes make subsetting code cleaner
temperatures[temperatures['city'].isin(['Xian','Mexico'])]
temp_ind.loc[['Xian','Mexico']]#loc filters index values

        Unnamed: 0        date country  avg_temp_c
city
Xian         16335  2000-01-01   China      -2.819
Xian         16336  2000-02-01   China       0.943
Xian         16337  2000-03-01   China       8.997
Xian         16338  2000-04-01   China      13.714
Xian         16339  2000-05-01   China      20.568
...            ...         ...     ...         ...
Mexico       10390  2013-05-01  Mexico      19.155
Mexico       10391  2013-06-01  Mexico      18.924
Mexico       10392  2013-07-01  Mexico      18.091
Mexico       10393  2013-08-01  Mexico      17.882
Mexico       10394  2013-09-01  Mexico      18.313

[330 rows x 4 columns]

In [6]:
#indexing Part2 from Datacamp
cities =['Moscow', 'Saint Petersburg']
print(temperatures[temperatures['city'].isin(cities)])
print(temp_ind.loc[cities])

       Unnamed: 0        date              city country  avg_temp_c
10725       10725  2000-01-01            Moscow  Russia      -7.313
10726       10726  2000-02-01            Moscow  Russia      -3.551
10727       10727  2000-03-01            Moscow  Russia      -1.661
10728       10728  2000-04-01            Moscow  Russia      10.096
10729       10729  2000-05-01            Moscow  Russia      10.357
...           ...         ...               ...     ...         ...
13360       13360  2013-05-01  Saint Petersburg  Russia      12.355
13361       13361  2013-06-01  Saint Petersburg  Russia      17.185
13362       13362  2013-07-01  Saint Petersburg  Russia      17.234
13363       13363  2013-08-01  Saint Petersburg  Russia      17.153
13364       13364  2013-09-01  Saint Petersburg  Russia         NaN

[330 rows x 5 columns]
                  Unnamed: 0        date country  avg_temp_c
city
Moscow                 10725  2000-01-01  Russia      -7.313
Moscow                 10726  2000-02-01  Russia      -3.551
Moscow                 10727  2000-03-01  Russia      -1.661
Moscow                 10728  2000-04-01  Russia      10.096
Moscow                 10729  2000-05-01  Russia      10.357
...                      ...         ...     ...         ...
Saint Petersburg       13360  2013-05-01  Russia      12.355
Saint Petersburg       13361  2013-06-01  Russia      17.185
Saint Petersburg       13362  2013-07-01  Russia      17.234
Saint Petersburg       13363  2013-08-01  Russia      17.153
Saint Petersburg       13364  2013-09-01  Russia         NaN

[330 rows x 4 columns]

In [7]:
#Hierarchical indexes
temps_ind3=temperatures.set_index(['city','country'])
temps_ind3.loc[['Xian','Mexico']]#subset
#subset on inner levels;pass a list of tuples
temps_ind3.loc[[('Xian','China'),('Mexico','Mexico')]]#has to match all of the conditions from the loc

                Unnamed: 0        date  avg_temp_c
city   country
Xian   China         16335  2000-01-01      -2.819
       China         16336  2000-02-01       0.943
       China         16337  2000-03-01       8.997
       China         16338  2000-04-01      13.714
       China         16339  2000-05-01      20.568
...                    ...         ...         ...
Mexico Mexico        10390  2013-05-01      19.155
       Mexico        10391  2013-06-01      18.924
       Mexico        10392  2013-07-01      18.091
       Mexico        10393  2013-08-01      17.882
       Mexico        10394  2013-09-01      18.313

[330 rows x 3 columns]

In [8]:
#Subsetting and using tuples
temperatures_ind = temperatures.set_index(['country','city'])
rows_to_keep = [('Brazil','Rio De Janeiro'),('Pakistan','Lahore')]
print(temperatures_ind.loc[rows_to_keep])

                         Unnamed: 0        date  avg_temp_c
country  city
Brazil   Rio De Janeiro       12540  2000-01-01      25.974
         Rio De Janeiro       12541  2000-02-01      26.699
         Rio De Janeiro       12542  2000-03-01      26.270
         Rio De Janeiro       12543  2000-04-01      25.750
         Rio De Janeiro       12544  2000-05-01      24.356
...                             ...         ...         ...
Pakistan Lahore                8575  2013-05-01      33.457
         Lahore                8576  2013-06-01      34.456
         Lahore                8577  2013-07-01      33.279
         Lahore                8578  2013-08-01      31.511
         Lahore                8579  2013-09-01         NaN

[330 rows x 3 columns]

In [9]:
temps_ind3.sort_index(level=['city','country'], ascending=[True,False])

                       Unnamed: 0        date  avg_temp_c
city    country
Abidjan Côte D'Ivoire           0  2000-01-01      27.293
        Côte D'Ivoire           1  2000-02-01      27.685
        Côte D'Ivoire           2  2000-03-01      29.061
        Côte D'Ivoire           3  2000-04-01      28.162
        Côte D'Ivoire           4  2000-05-01      27.547
...                           ...         ...         ...
Xian    China               16495  2013-05-01      18.979
        China               16496  2013-06-01      23.522
        China               16497  2013-07-01      25.251
        China               16498  2013-08-01      24.528
        China               16499  2013-09-01         NaN

[16500 rows x 3 columns]

In [12]:
print(temp_ind.sort_index())
print(temp_ind.sort_index(level='city'))
print(temp_ind.sort_index(level=['country','city'], ascending=[True, False]))

         Unnamed: 0        date        country  avg_temp_c
city
Abidjan           0  2000-01-01  Côte D'Ivoire      27.293
Abidjan         106  2008-11-01  Côte D'Ivoire      27.302
Abidjan         107  2008-12-01  Côte D'Ivoire      27.472
Abidjan         108  2009-01-01  Côte D'Ivoire      26.912
Abidjan         109  2009-02-01  Côte D'Ivoire      28.224
...             ...         ...            ...         ...
Xian          16391  2004-09-01          China      17.889
Xian          16392  2004-10-01          China      11.229
Xian          16393  2004-11-01          China       5.720
Xian          16395  2005-01-01          China      -2.209
Xian          16499  2013-09-01          China         NaN

[16500 rows x 4 columns]
         Unnamed: 0        date        country  avg_temp_c
city
Abidjan           0  2000-01-01  Côte D'Ivoire      27.293
Abidjan         106  2008-11-01  Côte D'Ivoire      27.302
Abidjan         107  2008-12-01  Côte D'Ivoire      27.472
Abidjan         108  2009-01-01  Côte D'Ivoire      26.912
Abidjan         109  2009-02-01  Côte D'Ivoire      28.224
...             ...         ...            ...         ...
Xian          16391  2004-09-01          China      17.889
Xian          16392  2004-10-01          China      11.229
Xian          16393  2004-11-01          China       5.720
Xian          16395  2005-01-01          China      -2.209
Xian          16499  2013-09-01          China         NaN

[16500 rows x 4 columns]

TypeError: ascending must be a list of bool values of length 1