In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/sales_subset.csv")

In [3]:
df.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [4]:
df.info()
df['weekly_sales'].mean()
df['weekly_sales'].median()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB

12049.064999999999

In [5]:
df['date'].max()
df['date'].min()

'2010-02-05'

In [6]:
#Using the function below, calculate the IQR when your data contains outliers
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

print(df[['temperature_c','fuel_price_usd_per_l', 'unemployment']].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [7]:
print(df[['temperature_c','fuel_price_usd_per_l','unemployment']].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

In [9]:
#Cumulative statistics
sales_1 = df.sort_values('date')
print(sales_1)

       Unnamed: 0  store type  department        date  weekly_sales  \
0               0      1    A           1  2010-02-05      24924.50
6437         6437     19    A          13  2010-02-05      38597.52
1249         1249      2    A          31  2010-02-05       3840.21
6449         6449     19    A          14  2010-02-05      17590.59
6461         6461     19    A          16  2010-02-05       4929.87
...           ...    ...  ...         ...         ...           ...
3592         3592      6    A          99  2012-10-05        440.00
8108         8108     20    A          99  2012-10-05        660.00
10773       10773     39    A          99  2012-10-05        915.00
6257         6257     14    A          96  2012-10-12          3.00
3384         3384      6    A          77  2012-10-26        -21.63

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
0           False       5.727778              0.679451         8.106
6437        False      -6.133333              0.780365         8.350
1249        False       4.550000              0.679451         8.324
6449        False      -6.133333              0.780365         8.350
6461        False      -6.133333              0.780365         8.350
...           ...            ...                   ...           ...
3592        False      21.577778              0.955511         5.329
8108        False      15.983333              1.052726         7.293
10773       False      22.250000              0.955511         6.228
6257        False      12.483333              1.056689         8.667
3384        False      22.411111              0.926188         5.329

[10774 rows x 10 columns]