In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/homelessness.csv")

In [3]:
df.head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [4]:
print(df.shape)

(51, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51 non-null     int64
 1   region          51 non-null     object
 2   state           51 non-null     object
 3   individuals     51 non-null     float64
 4   family_members  51 non-null     float64
 5   state_pop       51 non-null     int64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.5+ KB

In [6]:
df.describe()

       Unnamed: 0    individuals  family_members     state_pop
count   51.000000      51.000000       51.000000  5.100000e+01
mean    25.000000    7225.784314     3504.882353  6.405637e+06
std     14.866069   15991.025083     7805.411811  7.327258e+06
min      0.000000     434.000000       75.000000  5.776010e+05
25%     12.500000    1446.500000      592.000000  1.777414e+06
50%     25.000000    3082.000000     1482.000000  4.461153e+06
75%     37.500000    6781.500000     3196.000000  7.340946e+06
max     50.000000  109008.000000    52070.000000  3.946159e+07

In [12]:
#df.values

In [8]:
df.columns

Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=51, step=1)

In [10]:
df.sort_values(['individuals','state_pop'], ascending=[True,False])
#df['region']
#df[['region', 'state_pop']]
df[df['region'] == 'Pacific']

    Unnamed: 0   region       state  individuals  family_members  state_pop
1            1  Pacific      Alaska       1434.0           582.0     735139
4            4  Pacific  California     109008.0         20964.0   39461588
11          11  Pacific      Hawaii       4131.0          2399.0    1420593
37          37  Pacific      Oregon      11139.0          3337.0    4181886
47          47  Pacific  Washington      16424.0          5880.0    7523869

In [11]:
df.sort_values(['region','family_members'], ascending=[True,False]).head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
13,13,East North Central,Illinois,6752.0,3891.0,12723071
35,35,East North Central,Ohio,6929.0,3320.0,11676341
22,22,East North Central,Michigan,5209.0,3142.0,9984072
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
14,14,East North Central,Indiana,3776.0,1482.0,6695497

In [14]:
#df['individuals']
df[['individuals','family_members']]

    individuals  family_members
0        2570.0           864.0
1        1434.0           582.0
2        7259.0          2606.0
3        2280.0           432.0
4      109008.0         20964.0
5        7607.0          3250.0
6        2280.0          1696.0
7         708.0           374.0
8        3770.0          3134.0
9       21443.0          9587.0
10       6943.0          2556.0
11       4131.0          2399.0
12       1297.0           715.0
13       6752.0          3891.0
14       3776.0          1482.0
15       1711.0          1038.0
16       1443.0           773.0
17       2735.0           953.0
18       2540.0           519.0
19       1450.0          1066.0
20       4914.0          2230.0
21       6811.0         13257.0
22       5209.0          3142.0
23       3993.0          3250.0
24       1024.0           328.0
25       3776.0          2107.0
26        983.0           422.0
27       1745.0           676.0
28       7058.0           486.0
29        835.0           615.0
30       6048.0          3350.0
31       1949.0           602.0
32      39827.0         52070.0
33       6451.0          2817.0
34        467.0            75.0
35       6929.0          3320.0
36       2823.0          1048.0
37      11139.0          3337.0
38       8163.0          5349.0
39        747.0           354.0
40       3082.0           851.0
41        836.0           323.0
42       6139.0          1744.0
43      19199.0          6111.0
44       1904.0           972.0
45        780.0           511.0
46       3928.0          2047.0
47      16424.0          5880.0
48       1021.0           222.0
49       2740.0          2167.0
50        434.0           205.0